
      body{
          font-size: 15px !important
        }

        .title {
            display: inline-block;
            border-bottom: 7px solid #17a2b8;
            padding-bottom: 0px;
         }
     

        @media (min-width:767px)  {
          body{
            background-color: #ccc !important;
            font-size: 15px !important
          }
          nav{
            margin-left: 10%;
            margin-right: 10%;
          }
          main{
            background-color: white;
            margin-left: 10%;
            margin-right: 10%;
          }

        }

      .nav-link{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #8b8d8f;
        font-style: normal;
      }
      .bio-content {
        flex-direction: column;
        height:100%;
        width:100%;
        justify-content:center;
        align-items:center;
       }
      .nunito{
        font-family: 'Nunito' !important;
      }
      .warning{
        background: #B5EAAA !important;
      }
      #dall2018{
        font-size: 14px;
        text-align: center;
        font-weight: bold;
      }
      .footer{
        background: #343a40;
        text-align: center;
        color: #f4f4f4;
        margin-left: 10%;
        margin-right: 10%;
        height: 120px
      }
      .footer a{
        color: #f1f1f1;
        text-decoration: none;
      }
      .footer a:hover{
        color: green;
        text-decoration: none;
      }

      #copyright{
        color: #f1f1f1;
        text-align: center;
        margin-top: 110px;
        font-size: 12px;
      }
      .table_headers{
        color: green;
      }
     
      .jumbotron{
      background-image: url("img/try.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;
      opacity: 0.8;
      display: block;    
      }
      #learnmore{
        margin-top: 45px;
        font-size: 15px;
        margin-left: 13px;
         background: #343a40;
              color: #f4f4f4;
      }
      #dall{ 
        font-weight: italic; 
         font-family:Times New Roman;
         font-size: 25px;
         text-shadow: 3px;
         color: black;
         opacity: 100;
      }
      #dallington2018{
        height:360px !important; 
      }
      #connect{
      color: #6CC417;
      font-family:sans-serif !important;
      font-size: 16px;
      }

      .card {
          margin: 0 0 10px!important;
      }
    
     .card > img {
         height: auto;
         
         /* width: auto; */
      }
      .navbar-nav > li{
         padding-left: 15px;
         padding-right: 15px;
         font-size: 19px;
      }
      .co-image{
        width: 1050px;
        height: 750px;
        opacity: 0.9;
      }

  
footer > .container > span {
     font-size: 15px;
     text-indent: 5em;

}
h2,h3,h5,h4{
  font-weight: bold;
}

.custom-img {
  width: 300px;
  height: 100%; /* Ensures the image fills the card vertically */
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 10%;
  -o-object-fit: contain;
     object-fit: contain; /* Covers the card without stretching */
}

.articles ul li {
  font-size: 14px;
}


@media (min-width:320px)  {  .card { width: 100%  }  .card > img { height: 350px;}/* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  {  .card { width: 100%  } .card > img { height: 350px;}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { .card { width: 100%   } .card > img { height: 350px;}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { .card { width: 100%   } .card > img { height: 350px;}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { .card { width: 100%   } .card > img { height: 350px;}/* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { .card { width: 100%   } .card > img { height: 350px;}/* hi-res laptops and desktops */ }

     