* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
}

body {
    font-size: 14px !important;
    line-height: 20px;
    text-align: justify;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

.title {
    display: inline-block;
    border-bottom: 7px solid #17a2b8;
    padding-bottom: 0;
    margin-top: 10px;
}

.card {
    max-width: 225px;
    max-height: 250px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.card {
    max-width: 225px;
    max-height: 250px;
}

.container {
    margin-top: 25px;
}

@media (min-width: 320px) {
    .name {
        margin-top: 5px;
    }
}

@media (min-width: 1025px) {

    /*body{*/
    /*    background-color: #f1eee5;*/
    /*    font-size: 15px !important;*/
    /*}*/
    /*nav{*/
    /*  margin-left: 10%;*/
    /*  margin-right: 10%;*/
    /*}*/
    /*main{*/
    /*  background-color: white;*/
    /*  margin-left: 10%;*/
    /*  margin-right: 10%;*/
    /*}*/
    /*footer{*/
    /*  margin-left: 10%;*/
    /*  margin-right: 10%;*/
    /*}*/
    .card {
        max-width: 225px;
        max-height: 250px;
    }
}

.nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #8b8d8f;
    font-style: normal;
}

.bio-content {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.warning {
    background: #B5EAAA !important;
}

#dall2018 {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.footer {
    background: #343a40;
    text-align: center;
    color: #f4f4f4;
    height: 120px
}

.footer a {
    color: #f1f1f1;
    text-decoration: none;
}

.footer a:hover {
    color: green;
    text-decoration: none;
}

#copyright {
    color: #fff;
    text-align: center;
    margin-top: 110px;
    font-size: 11px;
}

.table_headers {
    color: green;
}

#connect {
    color: #6CC417;
    font-size: 16px;
}


.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 19px;
}

h2,
h3,
h5,
h4 {
    font-weight: bold;
}

.responsive-image-container {
    max-width: 300px;
    width: 100%;
    height: 300px;
    /* Default height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .responsive-image-container {
        height: 250px;
        max-width: 250px;
    }
}

.education hr {
    margin-top: 15px;
}


.articles ul li {
    font-size: 14px;
}

.github-icon,
.dev-com-icon,
.x-icon {
    filter: opacity(0.5) drop-shadow(0 0 0 #ffffff);
}